
body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
}
#container {
  width: 1100px;
  margin: 0 auto;
  background-color: black;
}
.header-container:after {
    content: ""; 
    display: table;
    clear: both;
}

.header-column {
    box-sizing: border-box;
    width: 80 20%; 
    float: left;
    padding: 20px;
}

.header-column h1, .header-column h2 {
    margin: 0;
}

.header-column .image-container {
    text-align: right; 
}

.header-column img {
    max-width: 100%;
    height: auto;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
}

header {
  background-color: #1C110A;
}
ul {
  list-style-type: none;
  margin: 0 0 0 40px;
  padding: 0;
  overflow: hidden;
  font-weight: 500;
}

li {
  float: left;
  padding: 0 10px 0 10px;  
}

li a {
  display: block;
  padding: 8px;
  background-color: #1C110A;
  color: white;
  text-decoration: none;
}

header h1 {
  color: #fff;
  margin: 10 0 0 0px;
  padding: 0 0 0 40px;
}
header h2 {
	color: #fff;
  margin: 0px;
  padding: 0 0 0 40px;
}
a {
  color:#eb6841;
}
nav li a:hover {
  color: #1C110A;
  background-color: #eb6841;
}
footer {
  background-color: #1C110A;
  padding: 15px;
}
footer p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.footer-text a{
  color:white;
  font-family: 'Montserrat', sans-serif;
}
.footer-text span{
  font-family: 'Montserrat', sans-serif;
  margin-left: 80px;
  color:white;
  background-color:#1C110A;
  padding:15px 50px;
}
.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: white;
  line-height:30px;
}
.two-column div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
}
.two-column-vision {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: white;
  line-height:30px;
}
.two-column-vision div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
}
.two-column-vision-goals {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: white;
  line-height:30px;
}
.two-column-vision-goals div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
}
.two-column-ldp {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: white;
  line-height:30px;
}
.two-column-ldp div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
.logo {
	width: 100px;
}
.portrait {
	width: 500px;
}
.vision {
	width: 450px;
}
.community {
	width: 600px; 
}
.ldp {
	width: 500px;
}

